@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default;
@import '~font-awesome/scss/font-awesome.scss';

.table {
    thead th, tbody td {
        vertical-align: middle;
    }
    
    thead {
        th {
            .btn {
                font-size: 18px;
                padding: 4px 10px;
            }
        }
    }
}

form {
    .input-group {
        &-append, .form-control {
            height: 40px;
        }
    }
}